.rodape {
   background-color: #000000;
   color: var(--corText);
   padding: 1rem 0;
   text-align: center;
}

.rodape__boxLink {
   display: flex;
   justify-content: space-around;
}

.rodape__boxLink--link {
   color: var(--corText);
}

@media (max-width: 768px) {
   .rodape {
      padding: .5rem 0;
   }

   .rodape__text {
      margin-bottom: 0;
   }
}