.corpo__bonus {
   align-items: center;
   background: url("../../Imagens/banners/Nuvens.png") no-repeat center / cover;
   display: flex;
   flex-direction: column;
   padding: 0 6rem;
}

.corpo__bonus--titulo {
   padding-top: 1rem;
   font-size: 2.1rem;
   font-weight: 700;
   text-align: center;
}

.corpo__bonus--imagem {
   width: 60rem;
}

@media (max-width: 768px) {
   .corpo__bonus {
      padding: 0 3rem;
   }

   .corpo__bonus--imagem {
      width: 30rem;
   }
}

@media (max-width: 430px) {
   .corpo__bonus {
      padding: 0 1rem;
   }

   .corpo__bonus--titulo {
      padding-top: 1rem;
      font-size: 1.5rem;
   }

   .corpo__bonus--imagem {
      width: 20rem;
   }
}