.corpo__boxIntroducao {
   color: var(--corText);
   margin-bottom: 2rem;
   padding: .5rem 6rem;
   text-align: center;
}

.boxIntroducao__text {
   font-weight: 700;
   padding: .6rem 0;
}

.boxIntroducao__destaque {
   font-weight: 700;
   color: var(--corText-destaque);
}

.boxIntroducao__caixaAlta {
   font-weight: 700;
   text-transform: uppercase;
}

.boxIntroducao__boxBeneficios {
   align-items: center;
   display: flex;
   text-align: start;
   height: 320px;
}

.boxIntroducao__boxBeneficios--image {
   width: 30rem;
   margin-right: 1rem;
}

.boxIntroducao__boxBeneficios--lista {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.lista {
   list-style-type: none;
}

.bi.bi-star-fill {
   color: var(--corText-destaque);
   margin-right: 1rem;
}

@media (max-width: 768px) {

   .corpo__boxIntroducao {
      margin-bottom: 1rem;
      padding: .5rem 3rem;
   }

   .boxIntroducao__boxBeneficios {
      height: auto;
   }

   .boxIntroducao__boxBeneficios--image {
      width: 15rem;
      margin-right: 1rem;
   }
}