.corpo__garantia {
   align-items: center;
   background-color: var(--corText);
   display: flex;
   flex-direction: column;
   padding: 2rem 6rem;
}

.corpo__garantia--box {
   align-items: center;
   display: flex;
}

.corpo__garantia--imagem {
   margin-right: 2rem;
   width: 13rem;
}

.corpo__garantia--text {
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 0;
}

.corpo__garantia--text.italico {
   font-style: italic;
   margin-top: 1rem;
   padding: 0 12rem;
   text-align: center;
}

@media (max-width: 768px) {
   .corpo__garantia {
      padding: 1rem 3rem;
   }

   .corpo__garantia--text.italico {
      padding: 0;
   }
}

@media (max-width: 430px) {
   .corpo__garantia {
      padding: 1rem 1rem 0;
   }

   .corpo__garantia--box {
      flex-direction: column;
      text-align: center;
   }

   .corpo__garantia--imagem {
      margin-right: 0;
      margin-bottom: 1rem;
      width: 8rem;
   }

   .corpo__garantia--text {
      font-size: 1rem;
   }

   .corpo__garantia--text.italico {
      margin-bottom: 1rem;
   }
}