.corpo__garantia {
   align-items: center;
   background-color: var(--corText);
   display: flex;
   padding: 2rem 6rem;
}

.corpo__garantia--imagem {
   margin-right: 2rem;
   width: 13rem;
}

.corpo__garantia--text {
   font-size: 1.5rem;
   font-weight: 700;
}

@media (max-width: 768px) {
   .corpo__garantia {
      padding: 1rem 3rem;
   }
}