.corpo__lamento {
   background-color: var(--cor-fundo-final);
   color: var(--corText);
   font-size: 1.3rem;
   padding: 2rem 6rem;
   text-align: center;
}

.lamento__boxLista {
   text-align: start;
}

.lamento__boxLista--lista {
   display: flex;
   flex-direction: column;
   height: 10rem;
   justify-content: space-between;
   margin-bottom: 0;
}

@media (max-width: 768px) {
   .corpo__lamento {
      font-size: 1rem;
      padding: 1rem 3rem;
   }
}

@media (max-width: 430px) {
   .corpo__lamento {
      font-size: 1rem;
      padding: 1rem;
   }

   .lamento__boxLista--lista {
      height: auto;
   }
}