.corpo__noticias {
   background-color: var(--corText);
   color: var(--corText-preto);
   margin-top: 1rem;
}

.corpo__noticias--titulo {
   background-color: var(--cor-fundo-secundaria);
   color: var(--corText-secundario);
   font-size: 2.7rem;
   font-weight: 700;
   padding: 2rem 5rem;
   text-align: center;
}

.corpo__noticias__boxNoticia {
   align-items: center;
   display: flex;
   margin: 0 6rem;
}

.noticias__boxNoticia--image {
   width: 15rem;
   margin-right: 2rem;
}

.noticias__boxNoticia--text {
   font-size: 1.5rem;
   font-weight: 600;
}

.noticias__boxNoticia--text.folhaSP {
   font-family: 'Abhaya Libre', serif;
   ;
}

.noticias__boxNoticia--text.folhaSP.titulo {
   font-size: 3rem;
}

.corpo__noticias--linhaHorizontal {
   border-top: 1px solid #000;
   width: 100%;
   height: 1px;
}

@media (max-width: 768px) {
   .corpo__noticias--titulo {
      padding: 1rem 3rem;
   }

   .corpo__noticias__boxNoticia {
      margin: 0 3rem;
   }

   .noticias__boxNoticia--image {
      width: 10rem;
      margin-right: 2rem;
   }

   .noticias__boxNoticia--text {
      font-size: 1.2rem;
   }

   .noticias__boxNoticia--text.folhaSP.titulo {
      font-size: 2rem;
   }
}

@media (max-width: 430px) {
   .corpo__noticias {
      margin-top: 0;
   }

   .corpo__noticias--titulo {
      font-size: 1.6rem;
      padding: 0 1rem;
   }

   .corpo__noticias__boxNoticia {
      flex-direction: column;
      margin: 0 1rem;
   }

   .noticias__boxNoticia--image {
      width: 9rem;
      margin-right: 0;
   }

   .noticias__boxNoticia--text {
      font-size: 1rem;
   }

   .noticias__boxNoticia--text.folhaSP.titulo {
      font-size: 1.7rem;
   }
}