.corpo__primeiraChamada {
   color: var(--corText);
   font-size: 2rem;
   padding: 1rem 4rem;
   text-align: center;
   text-transform: capitalize;
}

.corpo__primeiraChamada--link {
   color: var(--corText);
   text-transform: uppercase;
}

@media (max-width: 768px) {
   .corpo__primeiraChamada {
      padding: 0 3rem;
   }
}