.corpo__provasSociais {
   background-color: var(--cor-fundo-secundaria);
   padding: 0 6rem;
}

.corpo__provasSociais--titulo,
.corpo__provasSociais--text {
   color: var(--corText-secundario);
   font-size: 2.5rem;
   font-weight: 600;
   padding: 2rem 0;
   text-align: center;
}

.provasSociais__boxConteudo {
   align-items: center;
   display: flex;
}

.provasSociais__boxConteudo--image {
   height: 18rem;
   margin-right: 2rem;
}

.provasSociais__boxConteudo--text {
   font-weight: 600;
   font-size: 1.5rem;
}

@media (max-width: 768px) {
   .corpo__provasSociais {
      padding: 0 3rem;
   }

   .provasSociais__boxConteudo--image {
      height: 18rem;
   }

}

@media (max-width: 430px) {
   .corpo__provasSociais {
      padding: 0 1rem;
   }

   .corpo__provasSociais--titulo,
   .corpo__provasSociais--text {
      font-size: 1.6rem;
      padding: 1rem 0;
   }

   .provasSociais__boxConteudo {
      flex-direction: column;
   }

   .provasSociais__boxConteudo--image {
      height: 15rem;
      margin-right: 0;
      margin-bottom: 1rem;
   }

   .provasSociais__boxConteudo--text {
      font-size: 1rem;
      margin-bottom: 0;
   }
}